$dark-blue: #264653
$darker-blue: #1d353f
$dark-green: #2a9d8f
$yellow: #e9c46a
$orange: #f4a261
$dark-orange: #e76f51

$breakpoint-phone: 640px
$bootstrap-breakpoint-xl: 1200px
$bootstrap-breakpoint-lg: 992px
$bootstrap-breakpoint-md: 740px
$bootstrap-breakpoint-sm: 576px
$header-padding-x: 2rem
$header-padding-y: 1rem

$page-view-padding-x: 6rem
$page-view-padding-y: 3rem

$project-padding-x-y: 2rem

$header-logo-x-y: 3rem
$about-me-pic-x-y: 15rem

h1,
h2
    color: $dark-orange

h3,
h4,
h5
    color: $dark-orange

.page-view
    text-align: center
    color: $orange

.wrapper
    background-color: $dark-blue

.header-logo
    width: $header-logo-x-y
    height: $header-logo-x-y
    border-radius: 5px

.navbar-toggler
    border: none !important

.navbar-nav
    align-items: center

.nav-link
    width: 75%
    text-align: center
    padding-left: 2rem
    padding-right: 2rem

.navbar-toggler-icon
    background-image: url("../../img/hamburger.svg") !important

.header-link
    color: $darker-blue !important

.header-link:hover
    color: $dark-orange !important

.header
    background-color: $yellow

footer
    background-color: $yellow
    display: flex
    justify-content: space-between
    align-items: center

.header, .footer
    padding: $header-padding-y $header-padding-x

.wrapper
    min-height: 100vh
    position: relative

footer
    position: relative
    min-width: 100%
    color: #fff

.footer
    flex-direction: row-reverse
    align-items: center

.social-media-icon-box
    display: inline-flex
    font-size: calc(50 / 16 * 1rem)
    border-radius: 50%

.social-media-icon
    color: $dark-blue

.social-media-icon-box:hover
    background-color: $dark-orange
    opacity: 90%

.active-link
    color: $dark-orange !important
    background: $darker-blue
    border-radius: 1rem

img
    width: 100%
    height: 100%
    object-fit: contain
    overflow: hidden

.copyright
    color: $darker-blue

@media screen and ( min-width: $bootstrap-breakpoint-md )
    .page-view
        padding: 3rem 16%

@media screen and ( min-width: $bootstrap-breakpoint-sm )
    .copyright
        text-align: left

@media screen and ( min-width: $bootstrap-breakpoint-lg )
    .active-link
        background: none
