$primary-colour-main: #283593
$primary-colour-light: #5f5fc4
$primary-colour-dark: #001064

$secondary-colour-main: #b0bec5
$secondary-colour-light: #e2f1f8
$secondary-colour-dark: #808e95

$breakpoint-phone: 640px
$bootstrap-breakpoint-lg: 992px

$header-padding-x: 2rem
$header-padding-y: 1rem

.header-logo
  width: 3rem
  height: 3rem

.navbar-toggler
  border-color: $secondary-colour-light !important

.navbar-toggler-icon
  background-image: url("../../img/hamburger.png") !important

.header-link
  color: $secondary-colour-main !important

.header-link:hover
  color: $secondary-colour-light !important

.header
  background-color: $primary-colour-main

footer
  background-color: $primary-colour-main
  display: flex
  justify-content: space-between
  align-items: center

.header, .footer
  padding: $header-padding-y $header-padding-x

.wrapper
  min-height: 100vh
  position: relative

footer
  position: relative
  min-width: 100%
  color: #fff

.footer
  flex-direction: row-reverse
  align-items: center

.social-media-icon-box
  display: inline-flex
  font-size: calc(50 / 16 * 1rem)
  border-radius: 50%

.social-media-icon-box:hover
  background-color: #e2f1f8
  opacity: 90%

.page-view
  padding: 3rem

.about-me-pic
  margin: 0 auto
  height: 10rem
  width: 10rem

h4
  text-align: center

.project
  text-align: center

.active-link
  color: $secondary-colour-light !important
  
@media screen and (min-width: $breakpoint-phone)
  .copyright
    text-align: left

@media screen and ( min-width: $bootstrap-breakpoint-lg )
  .project
    text-align: left
  .invert
    flex-direction: row-reverse
  h4
    text-align: left
