h1,
h2 {
  color: #e76f51;
}

h3,
h4,
h5 {
  color: #e76f51;
}

.page-view {
  text-align: center;
  color: #f4a261;
}

.wrapper {
  background-color: #264653;
}

.header-logo {
  width: 3rem;
  height: 3rem;
  border-radius: 5px;
}

.navbar-toggler {
  border: none !important;
}

.navbar-nav {
  align-items: center;
}
.navbar-nav .nav-link {
  width: 75%;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navbar-toggler-icon {
  background-image: url("../../img/hamburger.svg") !important;
}

.header-link {
  color: #1d353f !important;
}

.header-link:hover {
  color: #e76f51 !important;
}

.header {
  background-color: #e9c46a;
}

footer {
  background-color: #e9c46a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header, .footer {
  padding: 1rem 2rem;
}

.wrapper {
  min-height: 100vh;
  position: relative;
}

footer {
  position: relative;
  min-width: 100%;
  color: #fff;
}

.footer {
  flex-direction: row-reverse;
  align-items: center;
}

.social-media-icon-box {
  display: inline-flex;
  font-size: calc(50 / 16 * 1rem);
  border-radius: 50%;
}

.social-media-icon-box:hover {
  background-color: #e76f51;
  opacity: 90%;
}

.page-view .project {
  padding: 2rem;
}

.about-me-pic {
  height: 15rem;
  width: 15rem;
}

.about-pic-wrap {
  justify-content: center;
}

.about-text {
  padding-bottom: 1rem;
}

.active-link {
  color: #e76f51 !important;
  background: #1d353f;
  border-radius: 1rem;
}

.proj-img {
  height: 9rem;
  width: 16rem;
  margin-bottom: 2rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  overflow: hidden;
}

.cv-skills-list {
  display: flex;
  justify-content: center;
  gap: 1rem 2rem;
  flex-wrap: wrap;
}

.cv {
  padding: 1rem;
}
.cv ul {
  list-style-type: none;
  padding: 0rem;
}
.cv ul li {
  margin: 1rem;
}
.cv .cv-personal-info ul {
  list-style: none;
}
.cv .cv-skills-list {
  display: flex;
  justify-content: center;
  padding: 0 1rem;
}
.cv .cv-skills-list li {
  margin: 0.33rem;
}
.cv .cv-skills-list li img {
  width: auto;
  height: 3rem;
}

.work-exp-header {
  background-color: #e9c46a !important;
}
.work-exp-header h4,
.work-exp-header h5 {
  color: #1d353f;
}

.card-body {
  background-color: #1d353f;
}

.copyright {
  color: #1d353f;
}

@media screen and (min-width: 740px) {
  .page-view {
    padding: 3rem 16%;
  }

  .about-text {
    padding: 0 16%;
  }

  .cv .cv-personal-info ul {
    list-style: square;
  }
}
@media screen and (min-width: 576px) {
  .copyright {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .project {
    text-align: left;
  }

  .invert {
    flex-direction: row-reverse;
  }

  .cv {
    text-align: left;
  }
  .cv .cv-skills-list {
    justify-content: left;
  }

  .about-pic-wrap {
    justify-content: left;
  }

  .active-link {
    background: none;
  }

  .about-text {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) and (min-height: 740px) {
  .about-me,
.home-content,
.projects-view {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

/*# sourceMappingURL=global.css.map */
